@font-face {
  font-family: 'Montserrat';
  src: url("../vendor/fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: thin;
}

@font-face {
  font-family: 'Libre Barcode 39 Extended Text';
  src: url("../vendor/fonts/Libre_Barcode_39_Extended_Text/LibreBarcode39ExtendedText-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Raleway';
  src: url("../vendor/fonts/Raleway/static/Raleway-Medium.ttf") format("truetype");
  font-weight: medium;
}

:root[color-mode="light"] {
  --bg: #F6F0E4;
  --bg-welcome: #B8DFDC;
  --fg: #474749;
  --highlight-bg: #BA472B;
  --highlight-fg: #F6F0E4;
  --link: #0645AD;
}

:root[color-mode="dark"] {
  --bg: #33383B;
  --bg-welcome: #282C2E;
  --fg: #FFFDF7;
  --highlight-bg: #FFE900;
  --highlight-fg: #33383B;
  --link: #8ab4f8;
}

body {
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: medium;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background: var(--bg);
  color: var(--fg);
}

::-moz-selection {
  background: var(--highlight-bg);
  color: var(--highlight-fg);
}

::selection {
  background: var(--highlight-bg);
  color: var(--highlight-fg);
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  line-height: 6rem;
  font-weight: thin;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

#main-content {
  max-width: 800px;
  padding: 30vh 2rem;
  margin: 0 auto;
}

#main-content a {
  text-decoration: none;
}

#main-content a:link, #main-content a:visited {
  color: var(--link);
}

#main-content a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

nav {
  --nav-scale: 0.8;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: calc(var(--nav-scale)*1rem);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, var(--bg)), to(transparent));
  background: linear-gradient(var(--bg) 50%, transparent);
  -webkit-transition: padding 0.2s;
  transition: padding 0.2s;
}

nav #color-mode-toggle-button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: calc(var(--nav-scale)*1.2rem);
  color: var(--fg);
  text-shadow: 0;
  -webkit-transition: text-shadow 0.2s, font-size 0.2s;
  transition: text-shadow 0.2s, font-size 0.2s;
}

@media (hover: hover) and (pointer: fine) {
  nav #color-mode-toggle-button:hover {
    text-shadow: 0 0 1em var(--highlight-bg);
  }
}

nav #color-mode-toggle-button:active {
  text-shadow: 0 0 1em var(--highlight-bg);
}

nav #logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav #logo svg {
  width: calc(var(--nav-scale)*2.5rem);
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  height: auto;
}

nav #logo svg .logo-primary {
  fill: var(--fg);
  -webkit-transition: fill .5s;
  transition: fill .5s;
}

nav #logo svg .logo-secondary {
  fill: var(--fg);
  -webkit-transition: rx .2s, fill .5s;
  transition: rx .2s, fill .5s;
}

@media (hover: hover) and (pointer: fine) {
  nav #logo:hover .logo-primary {
    fill: var(--highlight-bg);
    -webkit-transition: fill .2s;
    transition: fill .2s;
  }
  nav #logo:hover .logo-secondary {
    rx: 50%;
    -webkit-transition: rx .1s;
    transition: rx .1s;
  }
}

nav #logo:active .logo-primary {
  fill: var(--highlight-bg);
  -webkit-transition: fill .2s;
  transition: fill .2s;
}

nav #logo:active .logo-secondary {
  rx: 50%;
  -webkit-transition: rx .1s;
  transition: rx .1s;
}

nav.no-background {
  --nav-scale: 1;
  pointer-events: none;
  background: transparent;
}

nav.no-background * {
  pointer-events: auto;
}

.table-container {
  overflow-x: auto;
}

.table-container th, .table-container td {
  word-break: keep-all;
  padding: 10px;
  text-align: left;
}

.table-container th:first-of-type, .table-container td:first-of-type {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  z-index: 2;
  background-color: var(--bg);
}

#table-skills th {
  text-align: right;
}

#table-contact th {
  text-align: right;
  padding-right: 20px;
}

#welcome {
  height: 100vh;
  background-color: var(--bg-welcome);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#welcome p {
  font-size: 5em;
  font-family: 'Libre Barcode 39 Extended Text', cursive;
  text-align: center;
  line-height: 1.2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: crosshair;
}

#welcome p .phase1 {
  -webkit-transition: .2s;
  transition: .2s;
  color: var(--highlight-bg);
}

#welcome p .phase2 {
  -webkit-transition: .2s;
  transition: .2s;
  color: var(--highlight-bg);
  font-size: 0%;
  opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
  #welcome p:hover .phase1 {
    font-size: 0%;
    opacity: 0;
  }
  #welcome p:hover .phase2 {
    font-size: 100%;
    opacity: 1;
  }
}

#welcome p:active .phase1 {
  font-size: 0%;
  opacity: 0;
}

#welcome p:active .phase2 {
  font-size: 100%;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */