@font-face {
    font-family: 'Montserrat';
    src: url('../vendor/fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
    font-weight: thin;
    font-display: swap;
}
@font-face {
    font-family: 'Libre Barcode 39 Extended Text';
    src: url('../vendor/fonts/Libre_Barcode_39_Extended_Text/LibreBarcode39ExtendedText-Regular.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('../vendor/fonts/Raleway/static/Raleway-Medium.ttf') format('truetype');
    font-weight: medium;
    font-display: swap;
}


@import "modules/_variables.scss";
@import "modules/_mixins.scss";

@import "partials/_theming.scss";
@import "partials/_layout.scss";
@import "partials/_navbar.scss";
@import "partials/_table.scss";
@import "partials/_welcome.scss"