nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    pointer-events: none;
    *{  pointer-events: auto;   }

    #color-mode-toggle-button {
        cursor: pointer;
        font-size: 1.2rem;
        color: var(--fg);
        text-shadow: 0;
        transition: text-shadow .2s;
        @include hover {
            text-shadow: 0 0 1em var(--highlight-bg);
        }
    }
    
    #logo{
        svg{
            width: 2.5rem;
            height: auto;
            .logo-primary {
                fill: var(--fg);
                transition: fill .5s;
            }
            .logo-secondary {
                fill: var(--fg);
                transition: rx .2s, fill .5s;
            }
        }
        @include hover {
            .logo-primary {
                fill: var(--highlight-bg);
                transition: fill .2s;
            }
            .logo-secondary {
                rx: 50%;
                transition: rx .1s;
            }
        }
    }
}