nav{
    position: fixed;
    z-index: 20;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    top: 0;
    right: 0;
    left: 0;

    #color-mode-toggle-button {
        cursor: pointer;
        color: var(--fg);
        transition: all 0.4s;
    
        &:hover{
            color: var(--toggle-btn);
        }
        i{
            display: none;
        }
    }
    #logo{
        .logo-primary {
            fill: var(--fg);
            transition: all 0.5s;
        }
        .logo-secondary {
            fill: var(--fg);
            transition: all 0.5s;
        }
        &:hover{
            .logo-primary {
                fill: var(--highlight-bg);
            }
            .logo-secondary {
                rx: 50%;
            }
        }
    }
}