nav{
    --nav-scale: 0.8;
    $nav-scale-duration: .2s;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--nav-scale)*1rem);
    background: linear-gradient(var(--bg) 50%, transparent);
    transition: padding $nav-scale-duration;

    #color-mode-toggle-button {
        user-select: none;
        cursor: pointer;
        font-size: calc(var(--nav-scale)*1.2rem);
        color: var(--fg);
        text-shadow: 0;
        transition: text-shadow .2s, font-size $nav-scale-duration;
        @include hover {
            text-shadow: 0 0 1em var(--highlight-bg);
        }
    }
    
    #logo{
        user-select: none;
        svg{
            width: calc(var(--nav-scale)*2.5rem);
            transition: width $nav-scale-duration;
            height: auto;
            .logo-primary {
                fill: var(--fg);
                transition: fill .5s;
            }
            .logo-secondary {
                fill: var(--fg);
                transition: rx .2s, fill .5s;
            }
        }
        @include hover {
            .logo-primary {
                fill: var(--highlight-bg);
                transition: fill .2s;
            }
            .logo-secondary {
                rx: 50%;
                transition: rx .1s;
            }
        }
    }
}

nav.no-background{
    --nav-scale: 1;
    pointer-events: none;
    *{  pointer-events: auto;   }
    background: transparent;
}