.table-container {
    overflow-x: auto;

    th, td {
        word-break: keep-all;
        padding: 10px;
        text-align: left;

        &:first-of-type {
            position: sticky;
            left: 0px;
            z-index: 2;
            background-color: var(--bg);
        }
    }
}

#table-skills th {
    text-align: right;
}

#table-contact th {
    text-align: right;
    padding-right: 20px;
}