:root[color-mode="light"] {
    --bg: #{$color-white};
    --fg: #{$color-dark-gray};

    --highlight-bg: #{$color-primary-light};
    --highlight-fg: #{$color-white};

    --link: #{$color-secondary-light};
    --link-hover: #{$color-primary-light};
    --link-visited: #{$color-tertiary-light};
}

:root[color-mode="dark"] {
    --bg: #{$color-dark-gray};
    --fg: #{$color-light-gray};

    --highlight-bg: #{$color-primary-dark};
    --highlight-fg: #{$color-black};

    --link: #{$color-secondary-dark};
    --link-hover: #{$color-primary-dark};
    --link-visited: #{$color-tertiary-dark};
}
