:root[color-mode="light"] {
    --bg: #F6F0E4;
    --bg-welcome: #B8DFDC;
    --fg: #474749;
    
    --highlight-bg: #BA472B;
    --highlight-fg: #F6F0E4;
    
    --link: #0645AD;
}

:root[color-mode="dark"] {
    --bg: #33383B;
    --bg-welcome: #282C2E;
    --fg: #FFFDF7;

    --highlight-bg: #FFE900;
    --highlight-fg: #33383B;

    --link: #8ab4f8;
}
