#welcome{
    height: 100vh;
    background-color: var(--bg-welcome);
    display: flex;
    justify-content: center;
    align-items: center;
    
    #tagline{
        font-size: 5em;
        font-family: 'Libre Barcode 39 Extended Text';
        text-align: center;
        line-height: 1.2;
        user-select: none;
        cursor: crosshair;
        
        .phase1{
            transition: .2s;
            color: var(--highlight-bg);
        }
        .phase2{
            transition: .2s;
            color: var(--highlight-bg);
            font-size: 0;
            opacity: 0;
        }
        @include hover {
            .phase1{
                font-size: 0;
                opacity: 0;
            }
            .phase2{
                font-size: 100%;
                opacity: 1;
            }
        }
    }

    #down-arrow{
        position: absolute;
        cursor: pointer;
        top: 90vh;
        animation: bounce 2s cubic-bezier(0.280, 0.840, 0.420, 1) 3s infinite;
        transform-origin: bottom;
    }

    @keyframes bounce {
        0%   { transform: scale(1,1)      translateY(0); }
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(10px); }
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(.7px); }
        64%  { transform: scale(1,1)      translateY(0); }
        100% { transform: scale(1,1)      translateY(0); }
    }
}