//colors
$color-white: #fff;
$color-black: #000;
$color-light-gray: darken($color-white, 20%);
$color-dark-gray: lighten($color-black, 20%);

$color-primary-light: #FF4444;
$color-secondary-light: blue;
$color-tertiary-light: mediumvioletred;

$color-primary-dark: springgreen;
$color-secondary-dark: lightgreen;
$color-tertiary-dark: lemonchiffon;

$color-toggle-btn-light: #d8d8b6;
$color-toggle-btn-dark: yellow;

//fonts
$font-family: 'Raleway', sans-serif;
$font-light: 500;
$font-medium: 600;
$font-bold: 700;

$font-family-heading: 'Montserrat', sans-serif;
$font-light-heading: 200;
$font-medium-heading: 300;
$font-bold-heading: 400;

$font-size: 1rem;
$line-height: $font-size*1.5;

$font-size-h1: $font-size*4;
$line-height-h1: $font-size-h1*1.5;
$font-size-h2: $font-size*1.5;
$line-height-h2: $font-size-h2*1.5;
$font-size-h3: $font-size*1.2;
$line-height-h3: $font-size-h3*1.5;
