//colors
$color-white: #fff;
$color-black: #000;
$color-light-gray: darken($color-white, 20%);
$color-dark-gray: lighten($color-black, 20%);

//fonts
$font-family: 'Raleway';
$font-family-heading: 'Montserrat';

$font-size: 1rem;
$line-height: $font-size*1.5;

$font-size-h1: $font-size*4;
$line-height-h1: $font-size-h1*1.5;
$font-size-h2: $font-size*1.5;
$line-height-h2: $font-size-h2*1.5;
$font-size-h3: $font-size*1.2;
$line-height-h3: $font-size-h3*1.5;
